.navbar{
position: fixed;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar-brand {
    font-family: Ubuntu, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding-left: 3em;
}

.navbar-nav {
    padding-right: 1rem;
    text-align: right;
    margin-right: 3rem;
}
ul{
    padding-right: 5em;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
li{
    padding-left: 1em;
    padding-right: 1em;
}
.dropdown-menu{
    margin-top: 10px;
    padding-left: 10px;
}